page-cadastrar-perfil {
    .buttonCadastrar{
        background-color: #90356F;
        margin-top: 5px;
    }

    .pCadastrar{
        color: #94CA2D;;
        font-style: italic;
    }

    h6{
        text-align: center;
        color:  #90356F;
    }
}
