page-cadastrar-perfil {
    .buttonCadastrar{
        background-color: #90356F;
        margin-top: 5px;
    }

    .pCadastrar{
        color: #A0A0A0;
    }

    h6{
        text-align: center;
        color:  #90356F;
    }

    .danger{
        color: red;
        text-align: right;
        font-size: 11px;
    }
}
